# Приложение
APP_NAME=KEDO
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1

# CORS (через запятую)
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000

# MainDB — Docker hr_postgres
# ВАЖНО: локальный Windows PostgreSQL занимает 5432.
# В docker-compose пробрось порт так: "5434:5432"
MAIN_DB_HOST=localhost
MAIN_DB_PORT=5432
MAIN_DB_USER=hr_user
MAIN_DB_PASSWORD=hr_password
MAIN_DB_NAME=hr_db

# LogDB — Docker hr_logs_postgres
LOG_DB_HOST=localhost
LOG_DB_PORT=5433
LOG_DB_USER=logs_user
LOG_DB_PASSWORD=logs_password
LOG_DB_NAME=logs_db

# JWT
JWT_SECRET_KEY=change-me-to-a-long-random-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Файловое хранилище
UPLOAD_DIR=./uploads
